body {
    font-family: sans-serif;
    background-color:rgb(17, 107, 80)
  }

  header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }

  aside {
    text-align: center;
  }

  #current{
    text-align: center;  
  }

  #fiveday {
    text-align: center; 
  }
